version: '3'

services:

  postgres:
    container_name: "open-grocery-postgres"
    image: postgres:14.0-alpine
    volumes:
      - ./postgres/database:/var/lib/postgresql/data
      - ./postgres/sql-init:/sql-init
      - ./postgres/sh-init:/docker-entrypoint-initdb.d
    env_file: .env
    ports:
      - 5432:5432
    restart: unless-stopped

  api-server:
    container_name: "open-grocery-api-server"
    build:
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
    env_file: .env
    command: nodemon app.js
    restart: unless-stopped

  open-grocery-web-server:
      container_name: "open-grocery-web"
      build:
          context: ./web
      volumes:
          - ./web/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
          - 8010:80
      restart: unless-stopped
