body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-view {
  display: grid;
  gap: 15px;
  margin: 15px;
}

.grocery-input {
  display: grid;
  grid-template-columns: 1fr 40px;
  margin-bottom: 15px;
}

.grocery-list {
  display: grid;
  gap: 15px;
}

.grocery-list-item {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.grocery-item-text {
  font-size: 1.3rem;
}

.grocery-item-controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.item-checked {
  background-color: #B4F8C8 !important;
}

.item-unchecked {
  /* background-color: #A0E7E5 !important; */
}

/* Force no padding on MUI buttons */
.MuiButtonBase-root {
  padding: 0 !important;
}